<div id="maincol">
  <div id="top_section"><%=@title%></div>
  <div id="body_section">
    <div id="contenido">
      <% form_for(@student) do |f| %>
        <%= f.error_messages %>

        <p>
          <%= f.label :fname %><br />
          <%= f.text_field :fname %>
        </p>
        <p>
          <%= f.label :lname %><br />
          <%= f.text_field :lname %>
        </p>
        <p>
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </p>
        <p>
          <%= f.submit 'Registrar' %>
        </p>
      <% end %>
    </div>
  </div>
  <div id="bottom_section"></div>
</div>
