<p>
  <b>Fname:</b>
  <%=h @student.fname %>
</p>

<p>
  <b>Lname:</b>
  <%=h @student.lname %>
</p>

<p>
  <b>Email:</b>
  <%=h @student.email %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>