<% form_for @job do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :company, "Empresa" %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :position, "Nombre del Puesto" %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :location, "Ubicación"%><br />
    <%= f.text_field :location%>
  </p>
  <p>
    <%= f.label :fulltime, "Fulltime?"%><br />
    <%= f.check_box :fulltime %>
  </p>
  <p>
    <%= f.label :internship, "Internship?" %><br />
    <%= f.check_box :internship %>
  </p>
  <p>
    <%= f.label :experience, "Experiencia"%><br />
    <%= f.select :experience, Job::YEARS, :prompt => "Selecciona la experiencia necesaria"%><br />
  </p>
  <p>
    <%= f.label :description, "Descripción del puesto" %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :minpay, "Rango de Sueldo"%><br />
    $<%= f.text_field :minpay%> - $<%= f.text_field :maxpay%>
  </p>
  <p>
    <%= f.label :phone, "Teléfono" %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>
  <%= f.submit %>
<% end %>
