 <%# ...\''views\home\contact.rhtml-%>
<div id="inline_demo" style="display:none;">
  <div id="light_contact">
  <% form_tag sent_path do -%>
          <%=error_messages_for "contact", :id=>"errorExplanationPop" -%>
          <p>Nombre:<br /><%= text_field("contact", "name") -%></p>
          <p>Email:<br /><%= text_field("contact", "email_address") -%></p>
          <p>Asunto:<br /><%= text_field("contact", "subject") -%></p>
          <p>Mensaje:<br />
             <%= text_area("contact", "message", {"cols"=>"40", "rows"=>"5"}) -%>
          </p>
          <p>
            Escribe con letras minusculas el numero 10:<br /><%= text_field("contact", "captcha")-%>
          </p>
          <%= submit_tag "Enviar" -%>
        <% end -%>

  </div>
</div>      
   
