<div id="maincol">
  <div id="top_section">
    <div id="tituloNoticia">
      <span id="titulo">¿Quiénes Somos?</span>
    </div>
	</div>
  <div id="body_section">
    <p id="contenido">SAITC es la Sociedad de Alumnos de Ingeniería en Tecnologías Computacionales.<br/>Sociedad de Alumnos conformada por todos los alumnos, ex-alumnos y maestros relacionados con la carrera ITC.
    <br/>
    <br/>
    En conjunto nos encargamos de idear y organizar los eventos que ayuden a fomentar nuestra misión y de alcanzar nuestra visión.<br/>
    <br/>
    <strong>SAITC Somos Todos.</strong>
    </p>
  </div>
	<div id="bottom_section"></div>
	
  <div id="top_section">
    <div id="tituloNoticia">
      <span id="titulo">Misión</span>
    </div>
	</div>
  <div id="body_section">
    <p id="contenido">Fomentar el progreso de la carrera de Ingeniería en Tecnologías Computacionales, alcanzando la integración de todos sus miembros, logrando el desarrollo de sus capacidades académicas y complementarlas con experiencias extra-académicas, con el fin de poner el nombre de la carrera en alto, dentro y fuera de la Institución.
    </p>
  </div>
	<div id="bottom_section"></div>
	
	<div id="top_section">
	  <div id="tituloNoticia">
		  <span id="titulo">Visión</span>
	  </div>
	</div>
  <div id="body_section">
	  <p id="contenido">Al finalizar el período 2010-2011, SAITC será el grupo estudiantil más reconocido por el éxito de sus eventos de carácter comunitario, académico y de integración; además de la plena satisfacción de todos los miembros que la conforman, siendo estos directivos, maestros y alumnos relacionados con la carrera.
		</p>
  </div>
	<div id="bottom_section"></div>
  
  <div id="top_section">
	  <div id="tituloNoticia">
			<span id="titulo">Mesa Directiva</span>
  	</div>
  </div>
  <div id="body_section">
	  <div id="contenido">
      <strong>Presidente:</strong><br />
      Miguel Angel Cervera<br/>
      <%= mail_to "miguel.cervera@saitc-mty.com"%><br/>
      <br/>
      <strong>Vicepresidenta:</strong><br/>
      Luz Nangullasmú<br/>
      <%= mail_to "luz@saitc-mty.com"%><br />
      <br/>
      <strong>Coordinador General:</strong><br/>
      Braulio Chávez<br/>
      <%= mail_to "braulio@saitc-mty.com"%><br />
      <br/>
      <strong>Secretario:</strong><br/>
      Juan José Rodríguez<br/>
      <%= mail_to "juanjo@saitc-mty.com"%><br />
      <br/>
      <strong>Tesorera:</strong><br/>
      Verónica González<br/>
      <%= mail_to "vero@saitc-mty.com"%><br />
      <br/>
      <strong>Campañas Financieras y Filantropía:</strong><br/>
      Alan Gandarilla<br/>
      <%= mail_to "alan@saitc-mty.com"%><br />
      <br/>
      <strong>Prevención y Logística:</strong><br/>
      Daniel Fernández<br/>
      <%= mail_to "daniel@saitc-mty.com"%><br />
      <br/>
      <strong>Coordinación de Acciones por México:</strong><br/>
      Roberto Plancarte<br />
      <%= mail_to "roberto@saitc-mty.com"%>
		</div>
  </div>
	<div id="bottom_section"></div>
</div>

