<div id="maincol">
  <div id="top_section">
    <div id="titulo">Kids & Technology - Misión</div>
	</div>
  <div id="body_section">
    <p id="contenido">
      Kids & Technology es el evento de labor social de SAITC, en el cual buscamos, como estudiantes concientes de las necesidades actuales de nuestro país, regalar un día inolvidable a niños de escasos recursos así como empezar a inculcarles poco a poco la pasión por la tecnología.
      <br />
      <%= image_tag 'kt/KT.png', :style=>"margin:0px 179px;" %>
      <br />
      Buscamos mostrarle a estos niños que estan en una etapa de su vida que no se vive dos veces, la cual debe de disfrutarse al máximo y que sepa que son el futuro de México, así como mostrarles que estams en un mundo que se mueve en base a la tenología, y mostrarles la importancia de estas por medio de diversas actividades.
    </p>
  </div>
	<div id="bottom_section"></div>
	
  <div id="top_section">
    <div id="titulo">Kids & Technology - Navidad 2010</div>
	</div>
  <div id="body_section">
    <p id="contenido">
      En esta ocasión apoyaremos a la casa hogar <b>Ministerio de amor</b>, la posada empezará el día <b>martes 7 de diciembre de 2010</b> en punto de las <b>8:30 a.m.</b> en las instalaciones del Tec de Monterrey, Campus Monterrey, donde se tendrá una posada, con pastorela, en donde además comeremos unos ricos tamales de nuestro patrocinador <b>Tamales Salinas</b> acompañados de unos sabrosos jugos de nuestro patrocinador <b>Sello Rojo</b>.
      <br />
      <br />
      Posteriormente nos trasladaremos a <b>Kidzania</b> para pasar la tarde con los niños, y que tengan un experiencia única, en donde además de divertirnos, tambien disfrutaremos de unas <b>Coca-Cola</b>; Al final del día haremos realidad las cartitas de navidad de lo niños, entregandoles los juguetes que pidieron.
    </p>
  </div>
	<div id="bottom_section"></div>
	
	<div id="top_section">
	  <div id="titulo">Kids & Technology - PATROCINADORES</div>
	</div>
  <div id="body_section">
	  <p id="contenido" style="font-size:14px;">
	    Agradecemos especialmente a nuestros patrocinadores, quienes hicieron posible que le regalemos esta navidad tan especial a los niños de la casa hogar <b>Ministerio de Amor</b> y los cuales sin su ayuda, no hubiera sido posible llevar a cabo este evento de labor social.
	    <br />
	    <br />
	    <%= image_tag 'kt/BSH.jpg' %>
	    <%= image_tag 'kt/k.jpg', :style=>"margin:0px 0px 0px 100px;" %>
	    <br/>
	    <%= image_tag 'kt/CC.gif' %>
	    <%= image_tag 'kt/ts.jpg', :style=>"margin:0px 0px 0px 100px;" %>
	    <br/>
	    <%= image_tag 'kt/SR.gif', :style=>"margin:0px 179px;" %>
		</p>
  </div>
	<div id="bottom_section"></div>
  
</div>

