<h1>Editing course</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :courseDate %><br />
    <%= f.datetime_select :courseDate %>
  </p>
  <p>
    <%= f.label :maximumAssistants %><br />
    <%= f.text_field :maximumAssistants %>
  </p>
  <p>
    <%= f.label :assistantsNumber %><br />
    <%= f.text_field :assistantsNumber %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
