<div id="maincol">
  <div id="top_section"><%=@title%></div>
  <div id="body_section">
    <div id="contenido">
      <p>
        <b>Nombre del Curso:</b>
        <%=h @course.name %>
      </p>

      <p>
        <b>Descripción:</b>
        <%=h @course.description %>
      </p>

      <p>
        <b>Fecha:</b>
        <%=h @course.courseDate.to_s(:date) %>
      </p>

      <p>
        <b>Hora:</b>
        <%=h @course.courseDate.to_s(:time) %>
      </p>

      <p>
        <b>Disponibilidad:</b>
        <%=h "#{@course.maximumAssistants-@course.assistantsNumber}/#{@course.maximumAssistants}" %>
      </p>

      <p>
        <b>Precio:</b>
        <%=h number_to_currency(@course.price) %>
      </p>
      <%= link_to 'Registro de asistente', new_assistant_path%>
      <%if current_user%>
      | <%= link_to 'Lista', lista_asistentes_path(@course) %>
      | <%= link_to 'Edit', edit_course_path(@course) %>
      <%end%>
    </div>
  </div>
  <div id="bottom_section"></div>
</div>
