<% form_for @post do |f| %>

  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Título" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :topic, "Tema" %><br />
    <%= f.select :topic, Post::TOPIC, :prompt => "Selecciona un tema"%><br />
  </p>
  <p>
    <%= f.label :content, "Contenido" %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :haslink, "La noticia tiene link?"%><br />
    <%= select :post, :haslink,{"No"=>false, "Sí"=>true}%>
  </p>
    <script>    
   $j(document).ready(function(){
      <% if @post.haslink? -%>
          $j("#link").fadeIn(1);
      <% end -%>
         }); 
    
        $j('#post_haslink').change(function() {
          if($j(this).val()=="true"){
            $j("#link").show("slow");
            $j("#post_link").attr("value","http://www.facebook.com/");
          }else{
            $j("#link").hide("slow");
            $j("#post_link").removeAttr("value");
          } 
          
        });
       		  
  </script>
  <p id="link" style="display:none">
    <%= f.label :link %><br />
    <%= f.text_field :link, :value=>"http://www.facebook.com" %>
  </p>
  <%= f.submit %>
  <br />
  <br />
<% end %>
