<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= titulo %></title>
    <% if request.request_uri == '/admin/estadisticas'%>
       <meta content="900" http-equiv="REFRESH"> </meta>
    <% end -%>
    <%= stylesheet_link_tag 'saitc' %>
    
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery-1.4.2' %>
   
  </head>
  <body>
  
  <script>
   var $j = jQuery.noConflict();
                  $j(document).ready(function() {
                    setTimeout(hideFlashMessages, 2000);
                  });

                  function hideFlashMessages() {
                    $j('#flash_notice, #flash_error').fadeOut(2000);
                  }
   </script>
    <script>
   var $j = jQuery.noConflict();
                  $j(document).ready(function() {
                    setTimeout(hideErrorMessages, 10000);
                  });

                  function hideErrorMessages() {
                    $j('#errorExplanation').fadeOut(2000);
                  }
   </script>
    <div id="majorContent">
    	<div id="header">
        	<%= link_to image_tag("LogoSAITC2010.png" , :id=>"logo"), root_path %>
        	<%= link_to image_tag("boton_SAITC_sel.png", :id=>"botonHeader"), root_path%>
        	<%= link_to image_tag("boton_FF_un.png", :id=>"botonHeader", :mouseover => "boton_FF_sel.png"), "#" %>
        	<%= link_to image_tag("boton_SW_un.png", :id=>"botonHeader", :mouseover => "boton_SW_sel.png"), "#" %>
      </div>
      <div id="wrapper" class="clearfix" >
      	<div id="leftcol">
      	  <% flash.each do |key, value| %>
        		<%= content_tag(:div, value, :id => "flash_#{key}") %>
        	<% end %> 
        	<div id="top_subsection">
    				<span>
    					Menu Principal
        		</span>
          </div>
          <div id="subsection">
            <%= link_to image_tag("bnoticias.png", :border=>"0"), root_path%>
            <%= link_to image_tag("beventos.png", :border=>"0"), events_path%>
            <%= link_to image_tag("bbolsa.png", :border=>"0"), jobs_path%>
            <%= link_to image_tag("bfotos.png", :border=>"0"), gallery_path%>
            <%= link_to image_tag("bquienes.png", :border=>"0"), quienes_path%>
            <%= link_to image_tag("bcontact.png", :border=>"0"), "#"%>
          </div>
          <div id="bottom_subsection"></div>
          <div id="top_subsection">
    				<span>
    					Twitter
        		</span>
          </div>
          <div id="tweetSubsection">
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 10,
              interval: 5000,
              width: 251,
              height: 300,
              theme: {
                shell: {
                  background: '#a1e5f8',
                  color: '#000000'
                },
                tweets: {
                  background: '#50bef5',
                  color: '#000000',
                  links: '#ffffff'
                }
              },
              features: {
                scrollbar: true,
                loop: true,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
              }
            }).render().setUser('SAITC').start();
            </script>
          </div>
          <div id="bottom_subsection"></div>
          <%if current_user%>
            <div id="top_subsection">
      				<span>
      					Administración
          		</span>
            </div>
            <div id="subsection">
              Links de administrador
            </div>
            <div id="bottom_subsection"></div>
          <%end%>
      	</div>
      <%= yield %>
      </div>
      <div id="footer">
      </dv>
    </div>
  </body>
</html>
