<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <%= stylesheet_link_tag 'saitc' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery-1.4.2' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="majorContent">
          	<div id="header">
            	<%= link_to image_tag ("logo_FF.png" , :id=>"logo"), posts_path %>
              <%= link_to image_tag ("boton_SAITC_sel.png", :id=>"botonHeader"), "#"%>
              <%= link_to image_tag ("boton_FF_un.png", :id=>"botonHeader"), posts_path %>
              <%= link_to image_tag ("boton_SW_un.png", :id=>"botonHeader"), "#" %>
            </div>
              
    	      <div id="login_arriba"></div>
                    	<div id="login">
                    	</div>
    	      <div id="login_abajo"></div>
    <%= yield %>
    <br />
    </div>
    
  </body>
</html>
